/* Definição de fonte */
@font-face {
	font-family: "Unbounded";
	src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
}

header img {
	margin: 30px 0 0 250px;
}

body {
	background-color: #0E1014;
	color: #ffffff;
}

h1 {
	font-size: 45px;
	font-family: "Unbounded", sans-serif;
	text-align: center;
}

h1 span {
	color: #8233E8;
}

p {
	display: block;
	margin: 24px auto 0;
	text-align: center;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	width: 564px;
}

a {
	color: #ffffff;
	text-decoration: none;
	background-color: #9747FF;
	width: 200px;
	height: 35px;
	display: block;
	font-size: 12px;
	text-align: center;
	line-height: 35px;
	border-radius: 36px;
	margin: 24px auto 24px;
	font-family: "Poppins", sans-serif;
}

a:hover {
	background-color: #8233E8;
	color: #0E1014;
}

section img {
	display: block;
	width: 600px;
	height: 350px;
	margin: 0 auto;
}

@media(max-width: 768px) {
	header img {
		display: block;
		margin: 65px 0 0 60px;
	}

	h1 {
		margin: 72px 60px 0 60px;
	}

	p {
		width: 648px;
	}
}

@media(max-width: 500px) {
	header img {
		margin: 32px 0 0 16px;
	}

	h1 {
		margin-top: 60px;
		font-size: 40px;
	}

	p {
		font-size: 20px;
		width: 341px;

	}

	a {
		font-size: 20px;
		width: 251px;
		margin: 40px auto
	}

	section img {
		width: 340px;
		height: 230px;
	}

}
